#photo{
    display: inline-block;
    margin-right: 10em;
    margin-top: 6ch;
    margin-left: 3em;
}
#coordonnees{
    display: inline-block;
    font-size: 120%;
}
h2{
    background-color: limegreen;
}
body{
    margin-left: 20%;
    margin-right: 20%;
    font-family: Arial, Helvetica, sans-serif;
}
#cv{
    background-color: rgb(195, 245, 195);
    padding: 5%;
}
#tane{
    background-color: rgb(250, 255, 251);
}
img{
    border-radius: 50%; 
}